:root {
  /* BUTTONS */
  --button-primary: red;
  --button-primary--dark: darkred;
  --butoon-prmiary--light: lightred;
  --button-secondary: blue;
  --button-secondary--dark: darkblue;
  --button-secondary--light: lightblue;

  --button-radius: 4px;
  --button-padding: 0 16px;
}
