$button-row-height: 40px;

.supressor-container-content {
  width: 80%;
  height: 90%;
  box-shadow: #0000003D 0px 3px 8px;

  background-color: white;

  overflow: hidden;

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  &-headbar {
    height: $button-row-height;
    background-color: var(--content-headbar-bgcolor);
  }

  &-layout {
    display: flex;
    height: calc(100% - $button-row-height);
  }
}