.supressor-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
}

/* BACKGROUND ANIMATION */
.background-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;

  &-items {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    &-item {
      animation: itemAnimation 9.5s linear infinite;
      align-self: flex-end;
      width: 1em;
      height: 1em;
      transform: translateY(100%);
      background: #ebebeb;

      @for $i from 1 to 128 {
        &:nth-child(#{$i}) {
          width: random(4) + em;
          height: random(4) + em;
          animation-delay: random(48) + s;
          animation-duration: random(64) + s;
          filter: blur(random(10) + px);
          -webkit-filter: blur(random(10) + px);
        }
      }
    }
  }
}

@keyframes itemAnimation { 
  from { transform: translateY(100%) rotate(-50deg) }
  to   { transform: translateY(calc(-100vh + -100%)) rotate(20deg) }}
