.supressor-container-content__sidebar {
  display: flex;
  position: relative;

  width: 20%;
  border-radius: inherit;
  background-color: var(--sidebar-bgcolor);

  &::after {
    content: '';
    width: 2px;
    background-color: var(--sidebar-border-color);
    position: absolute;
    right: 0;
    height: 100%;
    cursor: w-resize;
  }
}
