.supressor-container-content__sidebar {
  width: 20%;
  border-radius: inherit;
  padding-top: 8px;
  background-color: var(--sidebar-bgcolor);
  border-right: 1px solid var(--sidebar-border-color);
}
